@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/web/ptsansnarrowbold.woff2') format('woff2'),
		url('../fonts/web/ptsansnarrowbold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/web/ptsansnarrow.woff2') format('woff2'),
		url('../fonts/web/ptsansnarrow.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: "PT Sans Narrow";
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

h1{
  font-size: 30px;
  line-height: 42px;
}

.main-header{
  margin-bottom: 60px;
}

.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.logo{
  float: left;
  width: 140px;
}

.main-navigation{
  float: left;
  width: 620px;
  min-height: 70px;
}

.user-block{
  float: right;
  width: 140px;
}
.title{
  margin-bottom: 30px;
}

.breadcrumbs{
  width: 700px;
  margin-bottom: 60px;
}

.gallery{
  float: left;
  width: 480px;
}

.product-description{
  float: right;
  width: 390px;
}

.product-filter{
  float: left;
  width: 220px;
  margin-right: 10px;
}

.catalog{
  float: right;
  width: 700px;
  font-size: 0;
}

.product{
  display: inline-block;
  width: 220px;
  vertical-align: top;
  font-size: 14px;
}

.main-footer{
  margin-top: 40px;
  padding-top: 60px;
}

.footer-contacts{
  float: left;
  width: 320px;
  margin: 0;
  margin-right: 70px;
}

.footer-social{
  float: left;
  width: 170px;
  margin-right: 230px;

}

.footer-copyright{
  float: right;
  width: 150px;
}

ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
}

fieldset{
  border:none;
}
